# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock

# Next.js build output
frontend/.next/
frontend/out/
frontend/build
frontend/.swc/

# NestJS build output
backend/dist/
backend/build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
!.env.example

# Testing
coverage/

# Logs
logs
*.log

# Debug
.debug

# System Files
.DS_Store
Thumbs.db
*.pem

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IDE - IntelliJ/WebStorm
.idea/
*.iml
*.iws
*.ipr

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# DO App Platform
.do/

# Local Netlify folder
.netlify

# Build info
.firebase/
*.tgz 